#wrapper {
    width: 80%;
    height: 500px;
    margin-top: 5%;
    margin-left: 5%;
    padding: 5%;
    font-family: arial, sans-serif;
    color: white;
    background-color: #02A9B3;
}

body {
    width: 100%;
    background-color: #02A9B3;
    text-align: center;


}

body #wrapper #title {
    float: right;
    background-color: #01838B;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    width: 60%;
    border: 5px solid black;
}

body #wrapper #sidebar {
    background-color: #01838B;
    margin-top: 5px;
    float: left;
    display: block;
    height: 140%;
    width: 37%;
    border: 5px solid black;
}

body #wrapper #logo {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    background-color: #01838B;
    border: 5px solid black;
    width: 37%;
    height: 15%;
}

body #wrapper #sidebar list a {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-decoration: none;
    font-family: arial, sans-serif;
    color: white;
    font-size: 24px;
    background-color: #02A9B3;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10%;
    margin-top: 20px;
    width: 80%;
    border: solid black 2px;
    display: block;
    box-shadow: 5px 10px 4px rgba(0, 0, 0, 0.25);
}

body #wrapper #sidebar img {
    display: block;
    float: left;
    padding-top: 10%;
    padding-left:5%;
    width: 90%;
    height: 27%;
}

body #wrapper #s1 {
    box-sizing: border-box;
    padding: 1em;
    text-align: center;
    margin-top: 1%;
    display: inline-block;
    float: right;
    background-color: #01838B;
    border: 5px solid black;
    width: 60%;
}

body #wrapper #header {
    width: 59.5%;
    margin-left: 1.5%;
    margin-top: 10px;
    background-color: #01838B;
    display: block;
    float: left;
    border: 5px solid black;
}

body #wrapper #header h2 {
    display: block;
    font-size: 36px;
    float: left;
    padding-left: 35%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;

}

body #wrapper #s1 img {
    
    margin-top: 5%;
    width: 45%;
    height: 45%;
    border-bottom: 1px solid black;

}
body #wrapper #s1 #2 {
    float: left;
    display: block;
    margin-top: 5%;
    width: 40%;
    height: 40%;
    border-bottom: 1px solid black;
}
body #wrapper #s1 #p1,
#p2 {
    width: 45%;
    padding-left: 5%;
    background-color: #01838B;
    display: block;
    float: left;
    border-bottom: 5px;
    border-left: 5px;
    border-right: 5px;
    width: 37%;
    height: 15%;
}

body #wrapper #s1 #p2 {
    margin-left: 5%;
    margin-top: 5%;
}
