#wrapper {
    width: 80%;
    height: 500px;
    margin-top: 5%;
    margin-left: 5%;
    padding: 5%;
    font-family: arial, sans-serif;
    color: white;
    background-color: #02A9B3;
}

body {
    width: 100%;
    background-color: #02A9B3;
    text-align: center;


}

body #wrapper #title {
    float: right;
    background-color: #01838B;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    width: 59%;
    border: 5px solid black;
}
body #wrapper #title #logo_image img{
    height:30%;
    width:30%;
}

body #wrapper #sidebar {
    background-color: #01838B;
    margin-top: 5px;
    float: left;
    display: block;
    height: 165%;
    width: 37%;
    border: 5px solid black;
}

body #wrapper #logo {
    display: block;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    background-color: #01838B;
    border: 5px solid black;
    width: 37%;
    height: 15%;
}

body #wrapper #sidebar list a {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-decoration: none;
    font-family: arial, sans-serif;
    color: white;
    font-size: 24px;
    background-color: #02A9B3;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10%;
    margin-top: 20px;
    width: 80%;
    border: solid black 2px;
    display: block;
    box-shadow: 5px 10px 4px rgba(0, 0, 0, 0.25);
}

body #wrapper #sidebar img {
    display: block;
    float: left;
    padding-top: 10%;
    padding-left:5%;
    width: 90%;
    height: 27%;
}

body #wrapper #s1 {
    margin-top: 1%;
    display: block;
    float: right;
    background-color: #01838B;
    border: 5px solid black;
    width: 60%;
    margin-top: 5px
}

body #wrapper #topbar{
    display: none;
    width: 58.9%;
    border:10px solid black;
    margin-top: 10px;
    background-color: #01838B;
    float: right;
    
}
#topbar ul{
    text-align: center;
    margin-left:5%;
    display: inline;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-decoration: none;
    font-family: arial, sans-serif;
    color: white;
    font-size: 24px;
}




body #wrapper #header {
    width: 59.9%;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #01838B;
    display: block;
    float: left;
    border: 5px solid black;
}

body #wrapper #header h2 {
    display: block;
    float: left;
    padding-left: 35%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;

}


body #wrapper #s1 #p1,
#p2 {
    width: 45%;
    padding-left: 5%;
    background-color: #01838B;
    display: block;
    float: left;
    border-bottom: 5px;
    border-left: 5px;
    border-right: 5px;
    width: 37%;
    height: 15%;
}

body #wrapper #s1 #p2 {
    margin-left: 5%;
    margin-top: 5%;
}





@media only screen and (max-width:1017px) {
    
    
    
     #sidebar {
 
            display: none !important;
    
     }
     

     body #wrapper #title {
         width:99%;
         margin-left: 0;
     }
     body #wrapper #header {
         width:99%;
         margin-left: 0;
         border:5px solid black;
     }
     body #wrapper #sidebar{
          display: none;
          border:none;
      }
     body #wrapper #logo {
          display: none;
          border:none;
      }
      body #wrapper #topbar {
        display:inline-block;
        width: 99%;
        margin-left: none;
        border:5px solid black; 
      }
      
     body #wrapper #topbar ul,a{
          display: inline-block;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: black;
          text-decoration: none;
          font-family: arial, sans-serif;
          color: white;
      }
     body #wrapper #s1{
         width: 99.9%;
     }
 }


@media only screen and (max-width:600px) {
    
    
    
     
     

     body #wrapper #title {
         width:99%;
         margin-left: none;
     }
     body #wrapper #header {
         width:99.5%;
         margin-left: none;
         border: 5px solid black;
     }
     body #wrapper #sidebar{
          display: none;
          border:none;
      }
     body #wrapper #logo {
          display: none;
          border:none;
      }
      body #wrapper #topbar {
        display:block;
        width: 99%;
        margin-left: none;
        border:5px solid black; 
      }
      
     body #wrapper #topbar ul{
          display: inline-block;
      }
     body #wrapper #s1{
         width: 99.9%;
     }
     
body #wrapper #s1 #p1 {
    width: 80%;
    padding-left: 5%;
    background-color: #01838B;
    display: block;
    float: left;
    border-bottom: 5px;
    border-left: 5px;
    border-right: 5px;
    width: 37%;
    height: 15%;
}
body #wrapper #s1 #p1, #p2{
    width:80%;
}
}
@media only screen and (max-width:1227px) {
     body #wrapper #title {
         width:99%;
         margin-left: none;
     }
     body #wrapper #header {
         width:99%;
         margin-left: none;
         border: 5px solid black;
     }
     body #wrapper #sidebar{
          display: none;
          border:none;
      }
     body #wrapper #logo {
          display: none;
          border:none;
      }
      body #wrapper #topbar {
        display:block;
        width: 99%;
        margin-left: none;
        border:5px solid black; 
      }
      
     body #wrapper #topbar ul,a{
          display: inline-block;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: black;
          text-decoration: none;
          font-family: arial, sans-serif;
          color: white;
      }
     body #wrapper #s1{
         width: 99%;
     }
     
body #wrapper #s1 #p1 {
    width: 80%;
    padding-left: 5%;
    background-color: #01838B;
    display: block;
    float: left;
    border-bottom: 5px;
    border-left: 5px;
    border-right: 5px;
    width: 37%;
    height: 15%;
}
body #wrapper #s1 #p1, #p2{
    width:80%;
}
}

@media only screen and (max-width:600px) {
    body #wrapper #header {
        border:5px solid black;
    }
}