#wrapper {
    width: 80%;
    height: 500px;
    margin-top: 5%;
    margin-left: 5%;
    padding: 5%;
    font-family: arial, sans-serif;
    color: white;
    background-color: #02A9B3;
}

body {
    width: 100%;
    background-color: #02A9B3;
    text-align: center;


}

body #wrapper #title {
    float: right;
    background-color: #01838B;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    width: 60%;
    border: 5px solid black;
}

body #wrapper #title #logo_image img{
    height:30%;
    width:30%;
}

body #wrapper #sidebar {
    background-color: #01838B;
    margin-top: 5px;
    float: left;
    display: block;
    height: 160%;
    width: 37%;
    border: 5px solid black;
}

body #wrapper #logo {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    background-color: #01838B;
    border: 5px solid black;
    width: 37%;
    height: 15%;
}

body #wrapper #sidebar list a {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-decoration: none;
    font-family: arial, sans-serif;
    color: white;
    font-size: 24px;
    background-color: #02A9B3;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10%;
    margin-top: 20px;
    width: 80%;
    border: solid black 2px;
    display: block;
    box-shadow: 5px 10px 4px rgba(0, 0, 0, 0.25);
}

body #wrapper #sidebar img {
    display: block;
    float: left;
    padding-top: 10%;
    padding-left:5%;
    width: 90%;
    height: 27%;
}

body #wrapper #s1 {
    box-sizing: border-box;
    padding: 1em;
    text-align: center;
    margin-top: 1%;
    display: inline-block;
    float: right;
    background-color: #01838B;
    border: 5px solid black;
    width: 60%;
}

body #wrapper #topbar{
    display: none;
    width: auto;
    margin-top: 10px;
    background-color: #01838B;
    display: block;
    float: right;
    border: none;
}
#topbar ul{
    display: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-decoration: none;
    font-family: arial, sans-serif;
    color: white;
    font-size: 24px;
}
body #wrapper #header {
    width: 58.9%;
    margin-left: 1.5%;
    margin-top: 10px;
    background-color: #01838B;
    display: block;
    float: right;
    border: 5px solid black;
}

body #wrapper #header h2 {
    display: block;
    font-size: 36px;
    float: left;
    padding-left: 45%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;

}

body #wrapper #s1 img {
    padding-left:25%;
    display:block;
    margin-top: 5%;
    margin-left: 1em;
    width: 45%;
    height: 45%;
    border-bottom: 1px solid black;

}
body #wrapper #s1 #2 {
    float: left;
    display: block;
    margin-top: 5%;
    margin-right:2em;
    width: 40%;
    height: 40%;
    border-bottom: 1px solid black;
}
body #wrapper #s1 p
{
    text-align: left;
    display: block;
    width:45%;
}
body #wrapper #s1 input
{
   display: inline-block;
   float: right;
   text-align: center;
}
body #wrapper #s1 #button
{
   display: block;
   float: left;
   background-color: #02A9B3;
   font-family: arial, sans-serif;
   color:white;
   padding-left: 5%;
   padding-right: 5%;
   border-radius:10px;
}
body #wrapper #s1 h3
{
   margin-top:2.5em;
   display: block;
   float: left;
}

@media only screen and (max-width:1017px) {
     body #wrapper #title {
         width:99%;
     }
     body #wrapper #header {
         width:99%;
         margin-left: none;
     }
     body #wrapper #sidebar{
          display: none;
          border:none;
      }
     body #wrapper #logo {
          display: none;
          border:none;
      }
      body #wrapper #topbar {
        display:block;
        width: 99%;
        border:5px solid black;
      }
      
     body #wrapper #topbar ul,a{
          display: inline-block;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: black;
          text-decoration: none;
          font-family: arial, sans-serif;
          color: white;
         
     }
     body #wrapper #s1{
         width: 99.9%;
     }
}


@media only screen and (max-width:600px) {
     body #wrapper #title {
         width:99.9%;
     }
     body #wrapper #header {
         width:99.9%;
         margin-left: none;
     }
     body #wrapper #sidebar{
          display: none;
          border:none;
      }
     body #wrapper #logo {
          display: none;
          border:none;
      }
      body #wrapper #topbar {
        display:block;
        width: 99.9%;
        border:5px solid black;
      }
      
     body #wrapper #topbar ul{
          display: inline-block;
      }
     body #wrapper #s1{
         width: 100%;
         padding-left:20%;
         float: left;
     }
}